<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

    <style >
        p{
            text-align-all: center;
        }
    </style>
</head>
<body>
<div class="carousel-item active">
					<img src="http://static.runoob.com/images/mix/img_fjords_wide.jpg" style="display:block;margin:0 auto">
				</div>

<div align="center"><form action="/edit/?={{obj.id}}" method="post">
    <div class="card-header" style="text-align-all: center">
			</div>
    <p><input type="hidden" name="edit_id" value="{{ obj.id }}"></p>
    <p>书名<input type="text" name="edit_name" value="{{ obj.name }}"></p>
    <p>作者<input type="text" name="edit_author" value="{{ obj.author }}"></p>
    <p>价格<input type="text" name="edit_price" value="{{ obj.price }}"></p>
    <p><button type="submit" value="保存" onclick="alert('保存成功')" class="btn btn-primary" >保存</button>
        <a href="/get_book/" class="btn btn-link">返回</a></p>
</form></div>
</body>
</html>