<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>找回密码</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

    <style >
        p{
            text-align-all: center;
        }
        .btn{
           display:block;margin:0 auto
        }
    </style>
</head>
<body>
    <div class="carousel-item active">
                        <img src="http://static.runoob.com/images/mix/img_fjords_wide.jpg" style="display:block;margin:0 auto">
                    </div>
    <form action="" method="post">
        <div class="card-header" style="text-align-all: center">
			</div>
      <p align="center">请输入用户名</p>
        <p align="center"><input type="text" name="username"></p>
        <p align="center">请输入您的邮箱</p>
            <p align="center"><input type="email" name="r_email"></p>
        <div class="btn"><button type="submit" class="btn btn-primary">提交</button>
            <a href="/" class="btn btn-link" style="">返回</a></div>
    </form>
</body>
</html>